* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

main {
    padding: 1rem;
}

nav {
    position: relative;
}

#navbarNav {
    flex-basis: 100%;
}

#navbarNav li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

#navbarNav li:hover {
    background-color: #788BFF;
}

@media screen and (max-width: 991px) {
    #navbarNav {
        position: absolute;
        right: 0;
        top: 80%;
        background-color: #788BFF;
        border-radius: 10px;
        max-width: 200px;
    }

    #navbarNav li {
        padding: 0.8rem 1.6rem;
        text-align: center;
    }

    #navbarNav li:hover {
        background-color: #afb1bd;
    }
    
    #navbarNav li:not(#navbarNav li:first-child) {
        border-top: 1px solid grey;
    }
}

.card.auth-bg {
    background-color: #788BFF;
    border-radius: 1rem;
}

legend {
    font-size: 1.2rem;
}

/* Estilos para el formulario de inicio de sesión */
.invalid-feedback {
    display: none;
    color: #dc3545;
    margin-top: 8px;
}

/* Estilos para la animación de error */
.is-invalid {
    border-color: #dc3545;
    animation: shake 0.3s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

/* Travel page */

.page-container {
    height: 100vh;
    position: relative;
}

.travel-cto {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 30%;
    padding: 1rem;
}

.travel-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 75%;
    width: 45%;
    border-radius: 10px;
    text-align: center;
}

.passenger {
    background-color: #dc3545;
}

.driver {
    background-color: #afb1bd;
}

.driver-profile {
    text-decoration: underline;
}

.driver-profile:hover {
    cursor: pointer;
    color: blue;
}