* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

/* Header */ 
.img-wrapper {
    width: 30%;
}

nav {
    position: relative;
}

#navbarNav {
    flex-basis: 100%;
}

#navbarNav li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

#navbarNav li:hover {
    background-color: #788BFF;
}

@media screen and (max-width: 991px) {
    #navbarNav {
        position: absolute;
        right: 0;
        top: 80%;
        background-color: #788BFF;
        border-radius: 10px;
        max-width: 200px;
    }

    #navbarNav li {
        padding: 0.8rem 1.6rem;
        text-align: center;
    }

    #navbarNav li:hover {
        background-color: #afb1bd;
    }
    
    #navbarNav li:not(#navbarNav li:first-child) {
        border-top: 1px solid grey;
    }
}


/* Homepage */
#hero-image {
    position: relative;
    height: 400px;
    overflow: hidden;
}

#hero-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://cdn.blablacar.com/kairos/assets/images/carpool_only_large-1fb250954893109fa160.svg") center/cover no-repeat;
    opacity: 0.5;
    z-index: -1;
}

#banner-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(180, 180, 180);
    text-align: center;
}


.card.auth-bg {
    background-color: #788BFF;
    border-radius: 1rem;
}

legend {
    font-size: 1.2rem;
}

/* Features section */
div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}

.div-item p {
    text-align: justify;
}

.kirk-icon{
    max-width: 250px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@media screen and (max-width: 1023px) {
    .item-container {
        padding: 0 3rem;
    }
    .kirk-icon{
        margin: 0 5rem;
    }
}

/* Svg icon animations */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animated {
    animation: slideIn 1.5s ease-out forwards;
}


/* CTA */
.cta-container {
    text-align: center;
    padding: 50px 10px;
    background-image: linear-gradient(25deg, #394da8 14%, #9dafd1 86%);
}

.cta-container * {
    color: #dce4ec;
}

.cta-container h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-container button {
    font-size: 1.2rem;
}

/* Estilos para el formulario de inicio de sesión */
.invalid-feedback {
    display: none;
    color: #dc3545;
    margin-top: 8px;
}

/* Estilos para la animación de error */
.is-invalid {
    border-color: #dc3545;
    animation: shake 0.3s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

/* Travel page */

.page-container {
    height: 100vh;
    position: relative;
}

.travel-cto {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 30%;
    padding: 1rem;
}

.travel-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 75%;
    width: 45%;
    border-radius: 10px;
    text-align: center;
}

.passenger {
    background-color: #dc3545;
}

.driver {
    background-color: #afb1bd;
}

.driver-profile {
    text-decoration: underline;
}

.driver-profile:hover {
    cursor: pointer;
    color: blue;
}

/* /travel */

.selectCityForm {
    max-width: 600px;
    padding: 1rem;
    margin: 2rem auto;
    background-color: #788BFF;
    border-radius: 10px;
}